/********
  Home
  *********/
  body.page-template-page-home {

    .site-header{
    .logo-area{
      padding: 26px 0 26px 3px;
    }
  }

 &.gradient-bg
{
  background-color: #d8d8d8;
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#masthead{

}
.site-content{
  background-color: transparent!important;
}
.banner-text{
  max-width: 750px;
  margin: auto auto;
  h1{
      font-size: 54px;
      color: #ffffff;
      visibility: hidden;
      text-align: center;
      // transition: visibility 3500ms ease-in-out;
  }
}

#colophon, .page-banner{
  display: none!important;
}

}


/***********
  Affiliations
  ************/
  body.page-template-page-affiliations{
    .site-content{
      background-color: #f4f4f4;
    }
    .affiliation-contents{
      margin-top: 32px;
      #logo-listing-isotope{
        .isotope-item{
          margin-bottom: 30px;
        }
        .affiliation-started {
          text-align: center;
          h2{
            font-size: 24px;
            font-weight: bold;
            color: $color_theme_502media_black;
            margin-bottom: 30px;
            margin-top: 30px;
          }
          button{
            background-color: transparent;
            border: 2px solid #938055;
            color: #938055;
            font-family: $font2;
            text-align: center;
            letter-spacing: 1.5px;
            padding: 15px 30px;
            &:focus, &:hover {
              background-color: #938055;
              color: #ffffff;
            }
          }
        }
      }
    }
  }