/********
  Home
  *********/
  .site-header{
    .logo-area{
      padding: 26px 0 26px 3px;
    }
    .form-area{
      padding-right: 23px;
      padding-left: 28px;
      .emergency-form{
        background-color: $color_cw_blue;
        padding: 17px 15px;
        overflow: hidden;
        box-shadow: 0px 17px 13px -14px rgba(0,0,0,0.22);
        h4{
          color: #ebebeb;
          font-family: 'ProximaNova', sans-serif;
          font-size: 18px;
          float: left;
          margin-top: 14px;
          padding-left: 12px;
        }
        button{
          background-color: $color_cw_white;
          color: $color_cw_black;
          font-family: 'ProximaNova', sans-serif;
          font-size: 12px;
          float: right;
          padding: 13px 20px;
          margin-top: 4px;
        }
      }           
    }
  }
  .get-started{
  	text-align: center;
    padding-bottom: 25px;

    h2{
      margin-top: 40px;
      font-size: 28px;
      font-weight: bold;
    }
    .feature{
      margin-top: 50px;
      .blooks{
       display: inline-block;
       margin: 0 11px;
       cursor: pointer;
       transition: all 400ms ease-out;
       .feature-icons{
        height: 117px;
        width: 193px;
        background-image: url(images/sprite-features.png);
      }
      .feature-car {
        background-position: 1746px 0;
        width: 193px;
      }
      .feature-home {
        background-position: 1527px 0;
        width: 198px;
      }
      .feature-life {
        background-position: 1303px 0;
        width: 195px;
      }
      .feature-commercial {
        background-position: 1082px 0;
        width: 196px;
      }
      .feature-text{
        color: #b3a272;
        font-size: 21px;
        font-weight: bold;
        padding: 18px 0;
      }
      &:hover{
        .feature-car {
         background-position: 860px 0;
       }
       .feature-home {
         background-position: 641px 0;
       }

       .feature-life {
         background-position: 417px 0;
       }
       .feature-commercial {
         background-position: 196px 0;
       }
       .feature-text{
         color: #366672;
       }
     }
   }
 }
}

.affiliation-logos{
 text-align: center;
 margin-top: 0;
 background-color: #f5f5f5;
 box-shadow: inset 0px 30px 36px -34px rgba(0,0,0,0.25);
 h2{
  margin-top: 40px;
  font-weight: bold;
  font-size: 28px;
}
.col-xs-12:nth-of-type(2){
  display: none;
}

button{
  background-color: $color_cw_yellow;
  margin: 20px auto;
  padding: 17px 25px;
  a{
  color: $color_cw_white;
  font-size: 14px;
  font-family: $font2;
  letter-spacing: 2px;
  }
}
}


/***********
  Affiliations
  ************/
  body.page-template-page-affiliations{
    .site-content{
      background-color: #f4f4f4;
    }
    .affiliation-contents{
      margin-top: 32px;
      #logo-listing-isotope{
        .isotope-item{
          margin-bottom: 30px;
        }
        .affiliation-started {
          text-align: center;
          h2{
            font-size: 24px;
            font-weight: bold;
            color: $color_cw_black;
            margin-bottom: 30px;
            margin-top: 30px;
          }
          button{
            background-color: transparent;
            border: 2px solid #938055;
            color: #938055;
            font-family: $font2;
            text-align: center;
            letter-spacing: 1.5px;
            padding: 15px 30px;
            &:focus, &:hover {
              background-color: #938055;
              color: #ffffff;
            }
          }
        }
      }
    }
  }