@font-face {
	src: url("fonts/CeraBasic-Regular.otf") format("opentype");
	font-family: CeraBasic;
}
@font-face {
	src: url("fonts/CeraBasic-Bold.otf") format("opentype");
	font-family: CeraBasic;
	font-weight: bold;
}
@font-face {
	src: url("fonts/ProximaNova-Regular.otf") format("opentype");
	font-family: ProximaNova;
}
@font-face {
	src: url("fonts/ProximaNova-Bold.otf") format("opentype");
	font-family: ProximaNova;
	font-weight: bold;
}
@font-face {
	src: url("fonts/ProximaNova-Semibold.otf") format("opentype");
	font-family: ProximaNova;
	font-weight: 600;
}
@font-face {
	src: url("fonts/ProximaNova-Light.otf") format("opentype");
	font-family: ProximaNova;
	font-weight: 300;
}

@font-face {
	src: url("fonts/ProximaNova-Black.otf") format("opentype");
	font-family: ProximaNovaBlack;
}
@font-face {
	src: url("fonts/ProximaNova-Regular.otf") format("opentype");
	font-family: ProximaNova;
	font-style: italic;
}
@font-face {
	src: url("fonts/ProximaNova-BoldIt.otf") format("opentype");
	font-family: ProximaNova;
	font-weight: bold;
	font-style: italic;
}
@font-face {
	src: url("fonts/ProximaNova-LightIt.otf") format("opentype");
	font-family: ProximaNova;
	font-weight: 300;
	font-style: italic;
}
@font-face {
	src: url("fonts/ProximaNova-Extrabold.otf") format("opentype");
	font-family: ProximaNova;
	font-weight: 700;
}
@font-face {
	src: url("fonts/ProximaNova-SemiboldItalic.otf") format("opentype");
	font-family: ProximaNova;
	font-weight: 600;
	font-style: italic;
}