footer#colophon {
    position: relative;
    font-size: 13px;
    margin: 0;
    .container {
        width: 100%!important;
    }
    .footer-banner{
        background-image: url('images/footer-banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        line-height: 350px;
        text-align: center;
        .footer-banner-text {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            h1{
                font-size: 72px;
                color: #fff;
            }
            h3{
                font-size: 30px;
                color: #fff;
            }
        }
    }
}
@media (max-width: 991px){
    footer#colophon{

    }
}