header#masthead{
    position: absolute;
    width: 100%!important;
}
.sideheader-visible .tool-bar a{
    color: $color_theme_502media_grey;
    .c-hamburger {
        span, span:before, span:after{
            background-color: $color_theme_502media_grey;
        }
    }
}
header{
    .container {
        width: auto;
        .logo-area {
            z-index: 10;
            img{
                max-width: 250px;
                margin-top: 25px;
                margin-left: 35px;
            }
        }
    }
    .site-header {
        border-bottom: 1px solid #000;
        padding-top: 20px;
        padding-bottom: 5px;
        div {
            padding: 0;
        }
    }
}
@media (max-width: 991px){
    header .site-header {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
